<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ejercicio2.css') }}">
</head>
<body>
    <form action="/ejercicio2" method="POST">
        <h1>Ejercicio 2</h1>
        <label for="nombre1">Nombre 1:</label>
        <input type="text" id="nombre1" name="nombre1" required><br><br>

        <label for="nombre2">Nombre 2:</label>
        <input type="text" id="nombre2" name="nombre2" required><br><br>

        <label for="nombre3">Nombre 3:</label>
        <input type="text" id="nombre3" name="nombre3" required><br><br>

        <button type="submit">Enviar</button>
    </form>

    {% if nombre_mas_largo is not none and longitud is not none %}
        <div class="resultado">
            <p>El nombre con mayor cantidad de caracteres es: <span>{{ nombre_mas_largo }}</span></p>
            <p>El nombre tiene: <span>{{ longitud }}</span> caracteres</p>
        </div>
    {% endif %}
</body>
</html>
